@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightgreen;
  font-family: "Poppins", roboto;
}

.gistlogo {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (min-width: 300px) {
  .container {
    margin: 15px;
  }
  .clgname {
    padding-top: 30px;
    color: darkblue;
    font-weight: 500;
    font-size: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: fit-content;
  }
  header {
    font-size: 20px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
  }
  .heading {
    margin: 0 auto;
    color: blue;
    width: fit-content;
    font-size: 45px;
  }
  .content {
    font-size: 18px;
    color: brown;
    text-align: center;
  }
  .survey_photos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

.item img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 760px) {
  .container {
    margin: 25px;
  }
  .clgname {
    font-size: 36px;
  }
  header {
    font-size: 28px;
  }
  .heading {
    font-size: 50px;
  }
  .content {
    font-size: 24px;
  }
  /* .survey_photos {
    grid-template-columns: 1fr;
  } */
}

a {
  width: 100%;
  text-decoration: none;
  color: green;
}
.sdcolor {
  color: red;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}
.imgg {
  width: 100%;
}
